@model UserDetailsViewModel

@{
    ViewBag.Title = "User Details";
}

<a asp-action="ViewUserList" asp-controller="Admin" class="btn btn-danger">Back</a>
<h2 class="text-center">User Details</h2>

<div class="row">
    <div class="col-md-12">
        <!--User Information-->
        <div class="card m-1">
            <div class="card-header bg-danger text-light">User Information</div>
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="User.Id"></label>
                        <input disabled asp-for="User.Id" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="User.UserType"></label>
                        <input disabled asp-for="User.UserType" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="User.DisplayName"></label>
                        <input disabled asp-for="User.DisplayName" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="Age"></label>
                        <input disabled asp-for="Age" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="User.Gender" class="control-label"></label>
                        <input disabled asp-for="User.Gender" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="User.PhoneNumber"></label>
                        <input disabled asp-for="User.PhoneNumber" class="form-control" />
                    </div>
                </div>
                @if (Model.User.UserType == AppConstant.BUS_OPERATOR)
                {
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="Salary"></label>
                            <input disabled asp-for="Salary" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label asp-for="Experience"></label>
                            <input disabled asp-for="Experience" class="form-control" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>